<div id="lobby">
	
	<style>
		/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
	</style>
<div class="container">
  <img src="/styles/albanian-banner.jpg" alt="AlbanianFlag" style="width:100% ;height:20em;">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div>


	<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal">
			<form ng-submit="register()">
				<label for="screen-name-input">PokerStar Nickname</label>
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input id="screen-name-input" class="input-left" type="text" ng-model="newScreenName" ng-trim="true" required>
				<input type="submit" value="Jetzt behindert pokern!">
			</form>
		</div>
		<div id="curtain" ng-show="!$root.screenName"></div>
	</div>
	<table id="table-list">
		<tr>
			<th class="dark-border">Name</th>
			<th class="dark-border">BB/SB</th>
			<th>Players</th>
		</tr>
		<tr ng-repeat="table in lobbyTables">
			<td><a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.name}}</a></td>
			<td class="centered-text">{{table.bigBlind}}/{{table.smallBlind}}</td>
			<td class="centered-text">{{table.playersSeatedCount}}/{{table.seatsCount}}</td>
		</tr>
	</table>
	
</div>			

